/* CheckoutForm.css */

.checkout-form {
    display: flex;
    flex-direction: column;
    width: 500px; /* Set width as needed */
    margin: auto; /* Center the form */
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff77;
  }
  
  .card-element {
    margin-bottom: 20px; /* Space between card element and button */
    padding: 10px; /* Optional padding */
    border: 1px solid #e1e1e1; /* Optional border */
    border-radius: 5px; /* Optional rounded corners */
  }
  

  
  
  .error-message {
    color: #fa755a; /* Error color */
    margin-top: 10px; /* Space above the error message */
  }
  