.Tags {
    margin-top: 20px;
    text-align: left;
    background-color: white, transparent(0.1);
  }
  
  .Tags label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .Tags input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
  }
  
  .Tags input:focus {
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }